
.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.box{
  min-height: 15vh;
}


.answered {
  background: lightBlue;
  color:#282c34;
}
.ControlPanel{
  background: #add8e6d4;
  color: black;
  text-transform: lowercase;
  padding: 1em;
  border: 3px solid white;
  cursor: pointer;
}
.Definition{
  font-family: monospace;
  margin: 1em;
}
.definition-text{
  text-align: initial;
  font-size: large;
  padding: 0.2em;
  border-bottom: 1px dashed #7f7f7f;
}
.highlight:hover {
  background: #fff;
  color:#282c34;
}
.Option {
  padding:1em;
  border:2px solid #fff;
  margin:0.5em;
  cursor: pointer;
}
.options-box{
  display: inline-flex;
  flex-wrap: wrap;
}
.VerbForms {
  padding: 1em;
  border: 3px solid;
  border-radius: 10px;
}
.verb-forms-choice {
  display: inline-flex;
  margin:0.5em;
}
.verb-forms-title{
  font-size: small;
  margin-top: -0.5em;
}
.verb-forms-choice:hover{
  color:lightBlue;
  cursor: pointer;
}
.wrong {
  background: #e67f7f;
  color:#282c34;
}
